@import "_variables.scss";

.container1 {
  max-width: 1100px;
  margin: auto;
}

.header-grid {
  display: grid;
  grid-template-areas:
    "image   header-t header-t header-t"
    "image   header-i header-i header-i"
    "image   header-n header-n header-n";
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: 180px 80px 120px;
  grid-gap: 0;
  .header-img {
    grid-area: image;
  }
  .header-title {
    grid-area: header-t;
    color: white;
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
      .h-icon {
        opacity: 0.8;
        transition: 0.4s;
        text-decoration: none;
        &:hover {
          opacity: 1;
          text-shadow: 1px -2px 1px white;
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
  .header-info {
    grid-area: header-i;
    padding: 2rem;
    background-color: black;
    color: white;
  }
  .header-nav {
    grid-area: header-n;

    display: flex;
    text-align: center;
    color: white;

    gap: 0;
    .nav-item {
      width: 100%;
      padding-top: 1.8rem;
      opacity: 1;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}

.galery {
  img {
    width: 200px;
    height: 200px;
  }
}

footer {
  a {
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black !important;
    }
  }
}
